PROJECT_ENDPOINT = ""
PROJECT_API_KEY = ""

AZURE_STORAGE_CONTAINER_NAME = ""
AZURE_STORAGE_CONNECTION_STRING = ""

AZURE_SEARCH_ENDPOINT = ""
AZURE_SEARCH_INDEX_NAME = ""
AZURE_SEARCH_API_KEY = ""

KNOWLEDGE_BASE_NAME = ""
KNOWLEDGE_SOURCE_NAME = ""
