.env

__pycache__/
*.py[cod]
*.egg-info/
.eggs/

venv/
.venv/
env/

.pytest_cache/
.coverage
htmlcov/
coverage.xml

bandit-report.json

data/pdf/*.pdf

.vscode/
.idea/

.DS_Store
Thumbs.db

referenceslide.txt
